var cuts = function(data){
  if(data){
    return '我是处理过的数据'
  }else{
    return '你没给我传日期'
  }
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

var thirdRule = function(dateStrBefore, dateStrAfter) {
  var dateStrBefore = dateStrBefore.substring(0, 19);
  var dateStrBefore1 = dateStrBefore.substr(0, 10); 
  var dateStrAfter1 = dateStrAfter.substr(0, 10); 
  // var dateStrBefore2 = dateStrBefore1.replace(/\-/g, '/');
  // var dateStrAfter2 = dateStrAfter1.replace(/\-/g, '/');

  var days = 1000 * 60 * 60 * 24;
  var day1 = Date.parse(dateStrBefore2);
  var day2 = Date.parse(dateStrAfter2);
  if (isNaN(day1)) {
    return NaN;
  }
  if (isNaN(day2)) {
    return NaN;
  }
  var d = (day2 - day1) / days;
  if (d < 1) {
    // var dateStrB = getDate(dateStrBefore.replace(/\-/g, '/'));
    // var dateStrA = getDate(dateStrAfter.replace(/\-/g, '/'));
    var A_B = (dateStrA.getTime() - dateStrB.getTime()) / 1000;
    return "今天";
  } else {
    if (d < 8) {
      return d + "天前";
    } else {
      var year = commdate.local_time().split("-")[0];
      var pushYear = dateStrBefore.split("-")[0];
      if (year == pushYear) {
        return dateStrBefore.substring(dateStrBefore.indexOf("-") + 1, 10); 
      } else {
        return dateStrBefore.substr(0, 10); 
      }
    }

  }
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/ 
var local_time = function () {
  var local = getDate();
  var year = local.getFullYear();
  var month = local.getMonth() + 1;
  if (month < 10) {
    month = "0" + month;
  }
  var day = local.getDate();
  if (day < 10) {
    day = "0" + day;
  }
  var time = local.toTimeString().substring(0, 8);
  var local_time = year + "-" + month + "-" + day + " " + time;
  return local_time;
}

module.exports = {
  cut: cuts,
  local_time: local_time
}