
var index = require("./index.wxs");

console.log(index.FOO);
console.log(index.bar("login.wxs"));
console.log(index.msg);

// var a = 10, b = 20;
// console.log(30 === a+b);
// console.log(-10 === a - b);
// console.log(200 === a * b);
// console.log(0.5 === a / b);
// console.log(10 === a % b);

// var a = '.w', b = 'xs';
// console.log('.wxs' === a + b);

// var a = 10, b = 20;
// console.log(10 === a++);
// console.log(12 === ++a);
// console.log(12 === a--);
// console.log(10 === --a);
// console.log(10 === +a);
// console.log(0 - 10 === -a);
// console.log(-11 === ~a);
// console.log(false === !a);
// console.log(true === delete a.fake);
// console.log(undefined === void a);
// console.log("number" === typeof a);

var a = 10, b = 20;
console.log(80 === (a << 3)); 